/*
	General styles
*/
body {
	font-family: "Source Sans Pro", Arial, sans-serif !important;
	background-color: #c7e1ff;
	font-size: 13px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
	height: 100%
}

h1, h2, h3, h4 {
	font-family: "Josefin Slab", serif;
}
h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
}
h2 {
	font-size: 20px;
}
a, a:visited {
	text-decoration: none;
	color: #2e639e;
}
a:hover {
	text-decoration: underline;
}
.touchonly {
	display: none;
}
html.touch .touchonly {
	display: block;
}
.noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect * {
	user-select: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


body > .jumbotron {
display: block;
position: relative;
top:40px; 
   
}

body > .container {
display: block;
height: 100%;
/*position: relative;
top:40px; */
   
}

body > div > .row {
    display:block;
    height: 100%;
}
.col-md-12:nth-child(1){
    display: block;
    height: 100%;
    background: red;
}
.col-md-12:nth-child(2){
        display: block;

    height: 100%;
    background: green;
}
.col-md-12:nth-child(3){
        display: block;
    height: 100%;
    background: blue;
}
.navIcons {
	list-style-type: none;
	bottom: 1em;
	right: 50%;
	z-index: 999999;
	position: fixed;
	margin: 0;
}
.navIcons li {
	display: inline-block;
	font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
    font-weight: normal;
}
.navIcons li:last-child {
	padding-left: 20px;
}
#circle {
	/*width: 50px;
	height: 50px;*/
	/*background: #f9f9f9;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;*/
	cursor: pointer;
}
.rotateTextUp {
	display: block;
	background: transparent url('../img/circle.png')top left;
	width: 48px;
	height: 48px;
    /*color: #333;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	font-family: initial;
	font-weight: normal;
	font-size: 150%;*/
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	  -webkit-filter: drop-shadow(-1px 1px 1px #555);
  filter: drop-shadow(-1px -1px 1px #555);
	/*-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.5);*/
}
.rotateTextDown {
	display: block;
	background: transparent url('../img/circle.png')top left;
	width: 48px;
	height: 48px;
    /*color: #333;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	font-family: initial;
	font-weight: normal;
	font-size: 150%;*/
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	  -webkit-filter: drop-shadow(1px -1px 1px #555);
  filter: drop-shadow(1px -1px 1px #555 );
		/*-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.5);*/
}
/*Custom Bootstrap*/


.navbar {
	z-index: 999999 !important;
}
.jumbotron {
	height: 955px;
}

/*Scrollorama*/
.scrollblock {
margin: 0;
width: 100%;
height: 955px;
}

@media (min-width: 768px) {
.navbar-nav {
    float: right !important;
}


}