body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
html, body {
    height: 100%;
}

body > .jumbotron {
display: block;
position: relative;
top:40px; 
   
}

body > .container {
display: block;
height: 100%;
/*position: relative;
top:40px; */
   
}

body > div > .row {
    display:block;
    height: 100%;
}
#animate1{
    display: block;
    /*height: 100%;*/
    background-color: red;
}
#animate2{
        display: block;

    /*height: 100%;*/
    background-color: green;
}
#animate3{
        display: block;

    /*height: 100%;*/
    background-color: blue;
}

/*Scrollorama 2*/
.scrollblock {
margin: 0;
width: 100%;
height: 600px;
}
.container, #content-wrapper, #example-wrapper {
    height: 100%;
}
#example-wrapper .scrollContent {
    height: 100%;
}
.demo#section-slides, .demo#section-wipes {
    height: 100%;
    width: 100%;
    background-image: none;
}
section#titlechart {
    text-align: center;
    position: relative;
    height: 100%;
    min-height: 500px;
    min-width: 100%;
    height: 569px;
}

.blue {
    background-color:blue;
}
.turqoise {
    background-color:turquoise;
}
.green {
    background-color: green;
}
.bordeaux {
    background-color:black;
}
.scrollmagic-pin-spacer {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin: 0px;
    display: block;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.demo#section-slides .panel > b, .demo#section-wipes .panel > b {
    font-size: 15px;
    color: white;
    position: relative;
    display: block;
    height: 0;
    overflow: visible;
    top: 50%;
}
html.touch form.move {
    top: 120px;
}

form.move {
    text-align: left;
    position: fixed;
    top: 70px;
    left: 20px;
    display: block;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 20px;
    z-index: 20;
}
.spacer.s1 {
    min-height: 100px;
}

.spacer.s2 {
    min-height: 200px;
}


#animate{
    visibility: hidden;
    opacity: 0;
    transform: matrix(0.7, 0, 0, 0.7, 0, 0);
}
.box1 p:first-child {
    margin-top: 27px;
}
.box1 p, .box2 p, .box3 p {
    margin: 5px 15px 5px 15px;
    font-size: 13px;
    font-weight: lighter;
    color: white;
}
.spacer.s_viewport {
    min-width: 100%;
}

.spacer.s_viewport {
    min-height: 100%;
}